<!-- app/views/articles/index.html.erb -->

<div class="container mx-auto text-center">
  <h1 class="text-3xl font-bold my-4">News</h1>
  <!-- Formulario para filtrar por user.full_name y created_at -->
  <%= form_tag(articles_path, method: "get", class: "mb-8 flex items-center flex-wrap") do %>
    <!-- Filtrar por user.full_name -->
    <div class="flex items-center mb-4">
      <%= label_tag :author, "Filter by Author:", class: "mr-2" %>
      <%= text_field_tag :author, params[:author], class: "border rounded px-2 py-1", autocomplete: "off", list: "user_names" %>
      <datalist id="user_names">
        <% @user_names.each do |name| %>
          <option value="<%= name %>">
        <% end %>
      </datalist>
    </div>

    <!-- Filtrar por created_at (rango) -->
    <div class="flex items-center mb-4">
      <%= label_tag :start_date, "Start Date:", class: "mr-2" %>
      <%= date_field_tag :start_date, params[:start_date], class: "border rounded px-2 py-1", autocomplete: "off" %>

      <%= label_tag :end_date, "End Date:", class: "mr-2" %>
      <%= date_field_tag :end_date, params[:end_date], class: "border rounded px-2 py-1", autocomplete: "off" %>
    </div>

    <%= submit_tag "Filter", class: "ml-2 bg-red-500 text-white px-4 py-1 rounded" %>
    
    <% if params[:author].present? || (params[:start_date].present? && params[:end_date].present?) %>
      <%= link_to "Clear Filters", articles_path, class: "ml-2 bg-red-500 text-white px-4 py-1 rounded" %>
    <% end %>
  <% end %>
</div>

<div class="flex flex-wrap justify-center">
  <% @articles.each do |article| %>
    <div class="w-full md:w-2/3 lg:w-1/3 mx-2 my-4">
      <a href="<%= article_path(article) %>" class="card-link block">
        <div class="card bg-gray-200 rounded-lg overflow-hidden">
          <% if article.image.attached? %>
            <img src="<%= url_for(article.image) %>" alt="<%= article.headline %>" class="w-full h-40 object-cover rounded-t-lg">
          <% end %>
          <div class="card-body p-4">
            <h2 class="card-title text-lg font-bold mb-2"><%= article.headline %></h2>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

</div>
