<section class="flex flex-col m-20 px-10 border-gray-200 items-center justify-center rounded-lg">  
  <h1 class="main-title"> News </h1>

<div class="image-container">
  <% if @article.image.attached? %>
    <%= image_tag @article.image %>
  <% else %>
    <!-- Mostrar algo predeterminado si no hay imagen adjunta -->
    <div class="default-image"></div>
  <% end %>
</div>

<div>
  <p> <%= @article.headline %> </p>
</div>

<div>
  <p> <%= @article.user.full_name %> </p>
</div>

<div>
  <p> <%= @article.created_at %> </p>
</div> 

<div>
  <p> <%= @article.lead %> </p>
</div> 

<div>
  <p> <%= @article.body %> </p>
</div> 


  <div>
  <h4> Comments</h4>
  <% @article.comment.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  </div> 

<% if current_user == @article.user %>
  <div>
  <h5> Add Comment</h5>
    <%= render 'comments/form', {article: @article, comment: @comment} %>
  </div> 

  <div>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
    <%= link_to "Back to articles", articles_path %>
    <%= button_to "Destroy this article", @article, method: :delete, form: { data: { turbo_confirm: 'are you sure?' }} %>
  </div> 
<% end %>
</section>